body {
				font-size: 80%;
				font-family: "Roboto", Courier, monospace;
				letter-spacing: 0.15em;	
				background-color: white;}
			#page {
				max-width: 940px;
				min-width: 720px;
				margin: 10px auto 10px auto;
				padding: 20px;
			
				background-color: #ffffff;}

			#logo {
				margin: 10px auto 25px auto;
				text-align: center;}

			.flow{width: 275px;
				height: 275px;
				}

			.container{padding: 10px;
				text-align: center;
				margin-bottom: 20px;}

			.footer{text-align: center;
				font-size: 10px;
				padding-top: 50px;}

	

